/*FONTS*/
@font-face {
  font-family: 'proximanova_black';
  src: url(./fonts/proximanova_black.otf);
}

@font-face {
  font-family: "proximanova_blackit";
  src: url(./fonts/proximanova_blackit.otf);
}

@font-face {
  font-family: "proximanova_bold";
  src: url(./fonts/proximanova_bold.otf);
}

@font-face {
  font-family: "proximanova_boldit";
  src: url(./fonts/proximanova_boldit.otf);
}

@font-face {
  font-family: "proximanova_extrabold";
  src: url(./fonts/proximanova_extrabold.otf);
}

@font-face {
  font-family: "proximanova_light";
  src: url(./fonts/proximanova_light.otf);
}

@font-face {
  font-family: "proximanova_regular";
  src: url(./fonts/proximanova_regular.ttf);
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "proximanova_regular";
  font-size: 16px;
}

@media (max-width: 1024px) {
  * {
    font-size: 14px;
  }
}

body {
  max-width: 1408px;
  padding: 0 13%;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  body {
    max-width: 928px;
  }
}

@media (max-width: 1024px) {
  body {
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  body {
    max-width: 688px;
  }
}

@media (max-width: 360px) {
  body {
    max-width: 320px;
  }
}

a {
  color: #282828;
  text-decoration: none;
}

.btn_green {
  background: #55d287;
  color: #fff;
  border: none;
  padding: 1rem 3.5rem;
  border-radius: 1rem;
  display: block;
  width: 18.3125rem;
  text-align: center;
  box-sizing: border-box;
  margin: 2.5rem auto 0;
}

@media (max-width: 360px) {
  .btn_green {
    width: 100%;
  }
}

section {
  padding-bottom: 5rem;
}

/*HEADER**/
.mainMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0px;
}

@media (max-width: 360px) {
  .mainMenu {
    background: #f6f7f8;
  }
}

.mainMenu_nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.mainMenu_nav a {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  .mainMenu_nav {
    display: none;
  }
}

.mainMenu_dop {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 10px;
}

.mainMenu_dop a {
  font-size: 1rem;
  line-height: 1.375rem;
}

.mainMenu_dop .burger {
  display: none;
}

@media (max-width: 768px) {
  .mainMenu_dop .burger {
    display: block;
  }
}

@media (max-width: 768px) {
  .mainMenu_dop .phone {
    display: none;
  }
}

/*breadcrumbs*/
.breadcrumbs {
  padding: 1rem 0px 2rem;
}

.breadcrumbs_active {
  color: #838b8e;
}

.breadcrumbs a {
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 400;
}

/*showrooms*/
.showrooms {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: end;
}

@media (max-width: 1024px) {
  .showrooms {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .showrooms {
    grid-template-columns: 1fr;
  }
}

.showrooms_title {
  font-size: 3.5rem;
  line-height: 4rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
}

.showrooms_info p {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
}

@media (max-width: 768px) {
  .showrooms_info {
    order: 2;
  }
}

@media (max-width: 768px) {
  .showrooms_map {
    order: 1;
    margin-bottom: 2.2857rem;
  }
}

.showrooms_map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*showroom*/
.showroom_title {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-bottom: 2.5rem;
}

.showroom_info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding-bottom: 2.5rem;
}

@media (max-width: 1024px) {
  .showroom_info {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .showroom_info {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 360px) {
  .showroom_info {
    grid-template-columns: 1fr;
  }
}

.showroom_adress p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: .5rem;
}

.showroom_adress p span {
  color: #838b8e;
}

.showroom_adress a {
  margin: 1.5rem 0 0;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.375rem;
  display: block;
}

.showroom_links h6 {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.625rem;
  margin-bottom: 1.375rem;
}

.showroom_links a {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.375rem;
  margin-right: 12px;
}

.showroom_gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.showroom_gallery figure {
  border-radius: 1.25rem;
  overflow: hidden;
}

.showroom_gallery figure img {
  object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*services*/
.services {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
  padding: 10rem 0px;
}

@media (max-width: 1024px) {
  .services {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .services {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 360px) {
  .services {
    grid-template-columns: 1fr;
  }
}

.services_box {
  text-align: center;
  background: #f6f7f8;
  border-radius: 1.25rem;
  padding: 1.25rem 0px;
}

.services_box img {
  padding-bottom: .625rem;
}

@media (max-width: 360px) {
  .services_box img {
    padding-bottom: 0rem;
  }
}

.services_box p {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

@media (max-width: 360px) {
  .services_box {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 12px 16px;
  }
  .services_box p {
    padding-left: 12px;
  }
}

/*form*/
.form {
  background: #eaecee;
  border-radius: 1.25rem;
  margin-bottom: 7.5rem;
  padding: 2.5rem;
  box-sizing: border-box;
}

.form_title {
  font-weight: 700;
  font-size: 3vw;
  line-height: 3.5rem;
  text-align: center;
  margin-bottom: 3rem;
}

@media (max-width: 360px) {
  .form_title {
    font-size: 7vw;
    line-height: 9vw;
  }
}

.form form {
  margin: 0 auto;
  max-width: 37.5rem;
}

.form #name {
  width: 100%;
  margin-bottom: 1.5rem;
}

.form_line {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

@media (max-width: 360px) {
  .form_line {
    grid-template-columns: 1fr;
  }
}

.form input {
  background: white;
  border-radius: .75rem;
  padding: 1rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  border: none;
  box-sizing: border-box;
}

.form input:placeholder {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #838b8e;
}

.form .btn_green {
  margin-top: 1.5rem;
}

.form_text {
  font-weight: 400;
  font-size: .875rem;
  line-height: 1.25rem;
  margin-top: 1rem;
}

/*FOOTER*/
.footer {
  padding-top: 2.5rem;
  position: relative;
}

.footer:before {
  width: 99vw;
  height: 1px;
  background: #838b8e;
  content: '';
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translate(-50%, 0px);
  box-sizing: border-box;
}

.footer .twocolumn {
  column-count: 2;
}

@media (max-width: 1024px) {
  .footer .twocolumn {
    column-count: 3;
  }
}

.footer_top {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  gap: 2rem;
  border-bottom: 1px solid #ced3d9;
  padding-bottom: 2.0625rem;
}

@media (max-width: 1024px) {
  .footer_top {
    grid-template-columns: 1fr;
  }
}

.footer_bottom {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.footer_copyright {
  font-weight: 400;
  font-size: .875rem;
  line-height: 1.25rem;
}

.footer_policity {
  font-weight: 400;
  font-size: .875rem;
  line-height: 1.25rem;
}

.footer_policity a {
  font-weight: 600 !important;
}

.footer_box a {
  display: block;
  margin-bottom: .5rem;
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 400;
}

.footer_box p {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.625rem;
  margin-bottom: .75rem;
}

@media (max-width: 1024px) {
  .footer_box__links {
    column-count: 3;
  }
}

.footer_city {
  margin-bottom: 2rem !important;
}

.footer_city::before {
  background: url(./img/Unionl.png) no-repeat center/contain;
}

.footer_tel::before {
  background: url(./img/Unionp.png) no-repeat center/contain;
}

.footer_email::before {
  background: url(./img/Unione.png) no-repeat center/contain;
}

.footer_wa {
  margin-bottom: 2rem !important;
}

.footer_wa::before {
  background: url(./img/Unionw.png) no-repeat center/contain;
}

.footer_int a {
  position: relative;
  padding-left: 1.25rem;
  font-weight: 600 !important;
  font-size: 1rem !important;
  line-height: 1.375rem !important;
}

.footer_int a::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: .9375rem;
  height: .9375rem;
}

@media (max-width: 1024px) {
  .footer_int {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

.footer .social_link {
  gap: .75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.footer .social_link a {
  padding-left: 0px !important;
}

.footer_rating__number {
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2.5rem;
  padding-left: 1.875rem;
  position: relative;
}

.footer_rating__number:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translate(0, calc(-1.5rem / 2));
  left: 0px;
  width: 1.5rem;
  height: 1.5rem;
  background: url(./img/yandex.png) no-repeat center/cover;
}

.footer_rating__number span {
  background: url(./img/Union.png) no-repeat center/cover;
  width: 1.375rem;
  height: 1.3125rem;
  display: inline-block;
  margin-right: 2px;
}

.footer_rating__text {
  font-weight: 400px;
  font-size: .875rem;
  line-height: 1.25rem;
}
